/* Font class */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.title {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  /* background-color: #e6f4ef; */
}

.signin-btn {
  box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-weight: 600;
font-size: 18px;
  
}
.bd-title{
font-weight: 700;
font-size: 32px;
color: rgb(14, 14, 14);
}

/* Banner Section */
.banner-title {
  width: 1280px;
  height: 560px;
  margin: 20px auto;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}

.text-content {
  max-width: 600px;
}

.bd-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
}

.description {
  font-size: 56px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  margin-bottom: 30px;
}

.btn-title {
  padding: 17px 34px;
  border-radius: 8px;
  color: white;
  background: rgb(0, 106, 80);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.img-title {
  width: 500px;
  height: auto;
  border-radius: 12px;
}
/* main section */

.main-section {
  max-width: 1600px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
}

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
  width: 302px;
  height: 244px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: #ffffff;
}

/* future section */
.p-titile{
  width: 1280px;
  height: 48px;
  margin: 0 auto;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
}
.h3-title{
  width: 1280px;
  height: 48px;
  margin: 0 auto;
  color: rgb(14, 14, 14);
font-size:40 px ;
font-weight: 700;
}
/* future card section */
.card-start {
  margin-top: 60px;
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.card-2 {
  width: 410.67px;
  height: 325px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 5px;  
  background: rgba(84, 144, 245, 0.2);
}
.btn-1{
  border-radius: 8px;

background: rgb(84, 144, 245);
font-size: 16px;
font-weight: 600;
color: rgb(255, 255, 255);
}
/* dr you */

.prime-section {

  width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

.quote {
  font-style: italic;
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
}

.name {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #111;
}

.designation {
  margin-top: 4px;
  font-size: 16px;
  color: #555;
}
/* video section */
.video-wrapper {
  display: flex;
  gap: 20px; 
  justify-content: space-between; 
  
  margin-top: 30px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.video iframe {
  width: 560px;
  height: 315px;
  border: none;
}

/* table section */


.opinion-section {
  background-color: white;
  padding: 30px;
  width: 1280px;
height: 409px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.opinion-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e3f2fd;
  color: #333;
}

select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* resent section */
.Resent-title{
  width: 1280px;
height: 402px;
margin: 0 auto;

}
.p-resent{
  color: rgba(14, 14, 14, 0.7);
  font-size: 15px;
  font-weight: 500;
}
.re-news{
  color:rgb(14, 14, 14);
  font-size: 40px;
   font-weight: 700;
}

/* card */
.content {
  width: 1280px;
  height: 402px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  padding: 20px;
  align-items: center;   
  overflow: hidden;      
}

.img {
  flex: 0 0 300px;       
  height: 100%;          
  border-radius: 24px;
  object-fit: cover;
  display: block;
}

.text {
  flex: 1 1 auto;        
  height: 100%;          
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  overflow: auto;        
}

.btn-title {
  padding: 10px 20px;
  background: #4671f0;
  
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
}

/* secon card */
  .content {
    width: 1280px;
    height: 402px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse; 
    gap: 24px;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
  }

  .img {
    flex: 0 0 300px;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
    display: block;
  }

  .text {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    overflow: auto;
  }

  .btn-title {
    padding: 10px 20px;
    background: #4671f0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-start;
  }
  /* Donate section */
  .donate{
  width: 1280px;
height: 464px;
margin-top: 30px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
  }
  .desh{
    color: rgb(14, 14, 14);
    font-size: 40px;
font-weight: 700;
}
.p-resent{
color: rgba(14, 14, 14, 0.7);  
font-size: 20px;
font-weight: 400;
}
.button-1{
width: 240px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
font-size: 40px;
font-weight: 700;
background: rgb(255, 255, 255);
}
.button-2{
width: 240px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
font-size: 40px;
font-weight: 700;
 background-color: (198, 228, 214);
}
.button-3{
width: 240px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(66, 64, 64, 0.15);
border-radius: 16px;
font-size: 40px;
font-weight: 700;
background: rgb(66, 54, 54);
}
.button-4{
width: 240px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
font-size: 40px;
font-weight: 700;
background: rgb(59, 116, 113);
}
.button-last{
  width: 1280px;
height: 464px; 
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.other-button{
  width: 1032px;
height: 64px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(121, 41, 41);
font-size: 20px;
font-weight: 400;
text-align: center;
flex-direction: row;
align-items: center;
padding: 20px 40px 20px 40px;
}
/* footer section */
.foot-section{
  margin-top: 40px;
width: 1280px;
height: 395px;
border-radius: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 1px solid green;
background: rgb(198, 228, 214);
}
.sub-title{
  color: rgb(14, 14, 14);
  font-size: 40px;
font-weight: 700;
}
.p-bangla{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
font-weight: 400;
}
.we-btn{
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 18px 40px 18px 40px;
border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
}
.butt {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.we-input {
  width: 300px;
  height: 56px;
  padding: 0 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: none; /* বাটনের সাথে যেন overlap হয় */
  border-radius: 8px 0 0 8px;
  outline: none;
}

.sub-btn {
  width: 150px;
  height: 56px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.note {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: gray;
  font-weight: 600;
}
